# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/luiz-guilherme.com/node_modules
/apps/luiz-guilherme.com/public
/apps/luiz-guilherme.com/.cache

/apps/blog/node_modules
/apps/blog/public
/apps/blog/.cache
